<html>
	<head><title>{{title}}</title></head>
	<body>
	</body>
</html>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/jquery.handsontable.css">
		<script src="/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/js/vendor/jquery.handsontable.js"></script>
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/js/gk.js"></script>
		<style>
			#toggler {
				bottom: 0pt;
				right: 0pt;
				width: 100pt;
				height: 100pt;
				background-color: red;
				position: fixed;
			}

			.center {
				margin: 100pt 0pt 0pt 350pt;
			}

			.hidden {
				display: none;
			}

			{% block style %}
			{% endblock %}
		</style>
		<script>
			{% block script %}
			{% endblock %}
			
			function toggle() {
				$("#fake").addClass("hidden");
				$("#real").removeClass("hidden");
			}
			
			$("body").ready(function(){
				$("#toggler").click(toggle);
			});
		</script>
    </head>
    <body ondragstart="return false;" ondrop="return false;">
		<div id=toggler></div>
		<div id=real class="hidden center">
			{% block content %}
			{% endblock %}
		</div>
		
		<div id=fake>
			{% block fake_content %}
			{% endblock %}
		</div>
    </body>
</html>
